.user{
    position: relative;
    text-align: center;
}

.user_avatar{
    border-radius: 50%;
    /* width: 40%;
    height: 40%; */
}

.user_infos{
    text-align: left;
    padding: var(--spacing-3) 0 var(--spacing-1) 0;
}

.user_info{
    display: flex;
    color: var(--title-color);
}

.dark .user_info{
    color: var(--dark-title-color);
}

.profession{
    color: var(--title-color);
}

.dark .profession{
    color: var(--dark-title-color);
}

.user_info svg{
    color: var(--icon-color);
    margin-right: 1rem;
}

.dark .user_info svg,
.dark .skills svg{
    color: var(--dark-title-color);
  }