/*Création du code couleur qui sera repris pour tout le site*/
:root {
    --blanche: #ffff;
    --jaune: rgba(241, 206, 10, 0.993);
    --primaire: #085edf;
    --rouge: #fe1205e8;
    --noir: rgb(2, 0, 0);
    --gris: #888;
}

/*Mise en page du document*/
body {
	background: linear-gradient(var(--jaune), var(--primaire));
}

.navbar {
    background-color: var(--rouge);
}

.titre2 {
    color: var(--rouge);
}

.logo {
    font-size: 30px;
    /*"0rem" espace haut/bas, "1.5rem" gauche/droite*/
    padding: 0rem 1.5rem;
}

.logo span.nom {
    font-size: 3rem;
    color: var(--rouge);
}

.panier {
    color: var(--primaire);
}

.logo a:hover {
    color: var(--blanche);
}

.sous-titre {
    color: var(--rouge);
    font-weight: 400;
    font-style: italic;
}

/*Mise en page du footer*/
.footer {
    background-color: var(--noir);
    padding: 0.5rem;
    line-height: 2rem;
    margin-top: 5rem;
}

.footer-container {
    display: grid;
    /*"grid-template-columns" définit les noms des lignes et les fonctions de taille pour les colonnes de la grille*/
    grid-template-columns: repeat(4, 1fr);
}

.footer-center a:link,
.footer-center a:visited {
    display: block;
    color: var(--gris);
    font-size: 1.4rem;
}

.footer-center a:hover {
    color: var(--primaire);
}

.footer-center div {
    font-size: 1.4rem;
    color: var(--gris);
}

.footer-center h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--primaire);
}

.copyright {
    color: var(--gris);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
}

.copyright a:hover {
    color: var(--rouge);
}

/*Media queries*/
@media only screen and (max-width: 998px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}
