body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(rgb(0, 60, 128), rgb(0, 183, 255, 0.651));
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

.container {
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.element {
  width: 250px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
}

.btn {
  width: 180px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.todo-items {
  min-width: 350px;
}

.item {
  background-color: #fff;
  padding: 10px;
  font-size: 1.1rem;
}

.checkbox {
  margin-right: 10px;
}

.delete-button {
  float: right;
  background-color: #dc143c;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 550;
}
